@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";


@config "../tailwind.config.ts";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #070d06;
  }
}

@layer utilities {
  .shadow-text-soft {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
}
